## Visual Studio
.vs/
*.user
*.suo
*.VC.db
*.VC.VC.opendb

## Build output
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Oo]ut/
cmake-build-*/
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
Testing/

## Compiler output
*.obj
*.o
*.pdb
*.ilk
*.idb
*.ipch
*.gch
*.pch

## JetBrains
.idea/

## VS Code
.vscode/

## OS files
.DS_Store
Thumbs.db
